p{
	margin:0;
}
.bg{
	width:741px;
	height:715px;
	box-sizing:border-box;
	border:1px #ffffff solid;
	margin:0 auto;
}
.left{
	width:204px;
	background-color:#293f64;
	box-sizing:border-box;
	border-right:6px #677790 solid;
	padding-top: 33px;
	padding-bottom: 52px;
	float:left;
}
.pic{
	width:150px;
	height:150px;
	background-image: url(../images/pic2.jpg);
	box-sizing: border-box;
	/*border-top:3px #ffffff solid;
	border-bottom:3px #ffffff solid;
	border-left: 2px #ffffff solid;
	border-right:2px #ffffff solid;*/
	margin-left: 6px;
	border-width: 3px 2px;
	border-style: solid;
	border-color: #ffffff;
}
.text1{
	width:154px;
	height:20px;
	margin-left:8px;
	margin-top:13px;
	margin-bottom: 18px;
}
.left_img{
	width:12px;
	height:12px;
	background-image: url(../images/pic3.jpg);
	margin-top:4px;
	margin-bottom:4px;
	float:left;
}
.right_img{
	width:12px;
	height:12px;
	background-image: url(../images/pic4.jpg);
	margin-top:4px;
	margin-bottom:4px;
	float:right;
}
.text_1{
	width:130px;
	height:20px;
	box-sizing: border-box;
	padding:0 9px;
	font-size:20px;
	text-align:center;
	color:#e6d198;
	float:left;
}
.text2{
	width:146px;
	height:122px;
	margin-left:8px;
	text-align: center;
	line-height: 13px;
	font-size: 7px;
	overflow: hidden;
}
.p1{
	color:#c2e2ff;
}
.p2{
	color:#f8d2a5;
}
.ul_top{
	width:152px;
	height:26px;
	margin-left:10px;
	margin-right:37px;
	background-image: url(../images/pic5.jpg); 
	margin-top:39px;
}
.text_2{
	width:60px;
	height:11px;
	box-sizing: border-box;
	padding:5px 84px 10px 7px;
	font-size:11px;
	text-align:center;
	color:#fff7fb;
}
.left ul{
	width:152px;
	height:180px;
	margin-left:10px;
	margin-right:36px;
	box-sizing: border-box;
	border-left:2px #46587e solid;
	border-right:2px #46587e solid;
	border-bottom:2px #46587e solid;
	padding-top: 4px;
	padding-right: 6px;
	padding-left:2px;
	margin-bottom: 37px;
}
.left ul li{
	width:140px;
	height:28px;
	box-sizing: border-box;
	border-bottom:1px #43597e solid; 
	/*background-image: url(../images/pic6.jpg);
	background-repeat: no-repeat;*/
	font-size: 11px;
	color:#bcc8de;
}
#li_6{
	border-bottom:none;
}
.left_bottom{
	width:129px;
	height:24px;
	margin-left: 26px;
	margin-right:44px;
	line-height: 12px;
	color:#eeffff;
	font-size:8px;
	text-align: center;
}
.right{
	width:535px;
	background-color:#ffffff;
	box-sizing:border-box;
	border-left:6px #d1d6da solid;
	padding: 20px 22px 34px 50px;
	float:right;
}
.ul_1{
	width:457px;
	height:27px;
	padding-left: 27px;
	padding-right:120px;
	margin-bottom:12px;
}
.ul_1 li{
	width:62px;
	height:27px;
	color:#1c2a67;
	font-size:8px;
	line-height: 27px;
	float:left;
	padding-left: 17px;
}
.ul_1 li:hover{
	background:url(../images/pic7.jpg) no-repeat;
	color:#a2917d;
}
.left_1{
	width:457px;
	height:190px;
	background-image: url(../images/pic_2.jpg);
	margin-bottom:46px;
}
.left_2{
	width:457px;
	height:153px;
	background-image: url(../images/pic_1.jpg);
	margin-bottom: 43px;
}
.left_3{
	width:457px;
	height:190px;
	background-image: url(../images/pic_3.jpg);
}
.left_1_top,.left_2_top,.left_3_top{
	width:200px;
	height:29px;
	padding-left: 8px;
	text-align: left;
	line-height: 29px;
	font-size: 12px;
	font-weight: 800;   /* 字体加粗*/
}
.left_1_top{
	color:#764f24;
}
.left_2_top{
	color:#1e2b57;
	height:31px;
}
.left_3_top{
	color:#714044;
}
.left_1_bottom{
	width:452px;
	height:161px;
	padding-left: 7px;
}
.left_1_bottom_1{
	height:23px;
	padding-top: 11px;
	color:#7e6c54;
	font-size:11px;
	line-height: 12px;
	box-sizing: border-box;
}
.left_1_bottom_pic{
	width:72px;
	height:72px;
	box-sizing: border-box;
	background-image:url(../images/pic2.jpg);
	margin-top: 11px;
	margin-right:6px;
	border-top:3px #e4d9c7 solid;
	border-left:2px #e4d9c7 solid;
	border-right:2px #e4d9c7 solid;
	border-bottom:2px #e4d9c7 solid;
	float:left;
}
.left_1_bottom_2{
	width:367px;
	margin-top: 11px;
	padding-top:3px;
	padding-right:7px;
	font-size: 8px;
	color:#2b2d3a;
	float:right;
}
.left_1_bottom_2 p{
	color:#bdb48b;
}
.left_2_bottom{
	width:452px;
	height:122px;
	padding-left: 7px;
	padding-top: 11px;
	font-size: 8px;
	color:#020019;
}
.left_2_bottom p{
	color:#bbbbdf;
}
.left_2_bottom ul{
	padding-left:29px; 
}
.left_2_bottom ul li{
	list-style:disc;
	color:#bbbbdf;
}
.left_3_bottom{
	width:452px;
	height:161px;
	padding-left: 7px;
	padding-top: 11px;
	font-size: 8px;
	color:#020019;
}
.left_3_bottom_1{
	height:12px;
	color:#775144;
	font-size: 11px;
	margin-bottom: 18px;
}
.left_3_bottom p{
	color:#9d8b7d;
}
.link{
	width:200px;
	height:12px;
	margin-top: 12px;
}
.link div{
	width:100px;
	height:12px;
	font-size: 11px;
}
.link div a{
	text-decoration:underline;
	color:#9a9091;
}
.link div a:link{             /*有链接属性的时候切未激活 -- href 属性*/
	color:#9a9091;
}
.link div a:visited{          /* 链接地址被访问过*/
	color:black;
}
.link div a:hover{            /*鼠标移动到DOM节点上面*//*active鼠标点击瞬间*/
	color:red;
} 
.link div a:active{            /*active鼠标点击瞬间*/
	color:blue;
} 

/*.link a:active>span,.link a:hover>span{           
    border-bottom: 2px solid #48C2F9;
}*/
.box1{
	text-align: left;
	float:left;
}
.box2{
	text-align: right;
	float:right;
}